.text-center {
  text-align: center;
}
.bg-red{
    background-color: red;
}
.mx-auto {
  margin: auto;
  
}
.m-w-20{
    max-width: 20%;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.row{
    margin: 8px 0;
    align-items: center;
}

.row input{
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
    
}